doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Не посещали
        // Style
        link(rel="stylesheet", href="../../css/zapisat-client/ne-poseshali.css")
        // Font Awesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    body 
        div.container
            nav 
                i.fa-solid.fa-chevron-left
            div.input-item 
                i.fa-solid.fa-magnifying-glass
                input(type="text" placeholder="Поиск клиента по имени")
            div.users
                div.contact-card
                    img.profile-pic(src="../../images/3/ne-poseshali/Ellipse 127.svg" alt="Profile Picture")
                    div.contact-info
                        h2 Гузаль Шерматова
                        p +998 93 123-45-67
                div.contact-card
                    img.profile-pic(src="../../images/3/ne-poseshali/Ellipse 128@2x.svg" alt="Profile Picture")
                    div.contact-info
                        h2 Севара Юнусова
                        p + 998 93 171-63-80
                button.footer-btn
                    i.fa-solid.fa-plus(style="font-size:19px")
                    p Создать