doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Appointment Details
    link(rel="stylesheet" href="../../css/kartochka-zapisi/kartochka-ne-adob.css")
    // Montserrat Font Family
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  body
    .container
      .header
        .profile
          img(src="../../images/1/kartochka-ne-adob/User image.svg" alt="Profile Picture")
          .info
            h2 Гузаль Шерматова
            p +998 93 171-63-80
            span.status Постоянный клиент
      .services
        button.service-button Стрижка
        button.service-button Укладка
        button.service-button Милирование
      .appointment
        .date-time
          p Четверг, 5 февраля
          p Длительность - 1 час
          span.time 12:30 - 14:00
        .cost
          p Стоимость:
          span.price 350 000 сум
        .notification
          p Уведомить за:
          span.notify-time 2 часа
        .status-buttons
          button.decline Отклонить
          button.accept Принять
      .contact-info
        h3 Контактная информация
        .contact-details
          p 
            img(src="../../images/1/kartochka-ne-adob/Phone.svg" alt="Phone Icon") 
            | +998 93 123-45-67
          p 
            img(src="../../images/1/kartochka-ne-adob/instagram.svg" alt="Instagram Icon") 
            | @guzal_1987
          p 
            img(src="../../images/1/kartochka-ne-adob/Group 1000000891.svg" alt="Telegram Icon") 
            | @guzalll_1987
