doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Upcoming Appointments
    link(rel="stylesheet", href="../../css/kartochka-zapisi/kartochka-bu-za-2.css")
  body
    .container
      h2 Предстоящие записи
      .appointment
        .profile
          img(src="../../images/1/bu-za/Ellipse 127.svg", alt="Profile Picture")
          .details
            h3 Гузаль Шерматова
            p +998 93 123-45-67
            .services
              span.service Стрижка, Укладка
              span.service Окантовка
            p.price 350 000 сум
            .date-time
              p Пн, 05 февраля
              .time-buttons
                button 08:00
                button 08:30
            .actions
              button.message Написать сообщение
              button.call 📞
      