doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Отменены сеансы
    // Style
    link(rel="stylesheet" href="../../css/kartochka-zapisi/otmennie-seans.css")
    // Montserrat Font Family
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  body
    .container
      header
        img(src="../../images/kartochka-kilenta-prodshe/Arrow.svg", alt="")
        h1 Отменены сеансы
        img(src="../../images/kartochka-kilenta-prodshe/Trash.svg", alt="")
      .card
        img(src="../../images/kartochka-kilenta-prodshe/Ellipse 127.svg" alt="Guzal Shermatova")
        .details
          h2 Гузаль Шерматова
          p +998 93 123-45-67
          .tags
            span Стрижка
            span Укладка
          p.price 350 000 сум
      .card
        img(src="../../images/kartochka-kilenta-prodshe/User image.svg" alt="Nargiza Akhmedova")
        .details
          h2 Наргиза Ахмедова
          p +998 93 123-45-67
          .tags
            span Стрижка
            span Укладка
          p.price 350 000 сум
