doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Stranitsa Klienta
        //! Style
        link(rel="stylesheet", href="../../kartochka-zapisi/stranits-client.css")
        //! Montserrat Font Family
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    body 
        nav 
            div.nav 
                img(src="../../images/stranitsa-clients/arrow.svg", alt="arrow logo")
                p История сеансов
        header.hero 
            .tag 
                div.logos 
                    img(src="../../images/stranitsa-clients/date_range.svg", alt="User logo svg")
                    p Предстоящие записи
                div.arrow 
                    img(src="../../images/stranitsa-clients/channelNotification.svg", alt="arrow logo")
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/stranitsa-clients/hourglass.svg", alt="User logo svg")
                    p Предстоящие записи
                div.arrow 
                    img(src="../../images/stranitsa-clients/channelNotification.svg", alt="arrow logo")
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/stranitsa-clients/time_del_light.svg", alt="User logo svg")
                    p Предстоящие записи
                div.arrow 
                    img(src="../../images/stranitsa-clients/channelNotification.svg", alt="arrow logo")
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")