doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/nastroyki/nastroyki-obshie.css")
        title Добавить фотографию3
    body.bdy.container 
        div.kod 
            p Установить ПИН код
        main 
            div.imgs 
                img(src="../../images/nastroyka/Frame 6841 (1).svg", alt="")
                img(src="../../images/nastroyka/Frame 6841 (1).svg", alt="")
                img(src="../../images/nastroyka/Frame 6841 (1).svg", alt="")
                img(src="../../images/nastroyka/Frame 6841 (1).svg", alt="")
            div 
                p Введите действующий ПИН код
            div.prodaljit-btn-second 
                button Продолжить
