doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/nastroyki/nastroyki-obshie.css")
        title Настройки общие
    body 
        div.container 
            div 
                nav.nastroyka 
                    img(src="../../images/nastroyka/Arrow (1).svg", alt="")
                    p.nastroyka-text Настройки
                div.settings
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Img_box.svg", alt="User logo svg")
                            p Галерея
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Done_ring_round.svg", alt="User logo svg")
                            p Услуги
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Component 25.svg", alt="User logo svg")
                            p Место работы
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Date_today.svg", alt="User logo svg")
                            p Расписание работы
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Calendar_add.svg", alt="User logo svg")
                            p Онлайн бронирование
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Bell.svg", alt="User logo svg")
                            p Настройки уведомлений
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/Setting_line.svg", alt="User logo svg")
                            p Настройки приложения
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                    .tag 
                        div.logos 
                            img(src="../../images/nastroyka/User.svg", alt="User logo svg")
                            p Личные данные
                        div.arrow 
                            img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")