doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/nastroyki/nastroyki-obshie.css")
        title Настройки
    body 
        nav.nastroyka 
            img(src="../../images/nastroyka/Arrow (1).svg", alt="")
            p.nastroyka-text Настройки
        div.settings
            .tag 
                div.logos 
                    img(src="../../images/nastroyka/globe.svg", alt="User logo svg")
                    p Сменить язык
                div.arrow 
                    img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/nastroyka/Sun.svg", alt="User logo svg")
                    p Сменить тему
                div.arrow 
                    img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/nastroyka/Lock.svg", alt="User logo svg")
                    p Изменить пароль
                div.arrow 
                    img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")