doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Profile
        //! Style
        link(rel="stylesheet", href="../../css/nastroyki/profile.css")
        //! Montserrat Font Family
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    body 
        nav 
            h1.top Профиль
        div.hero 
            div.user-photo
                img(src="../../images/profile/Rectangle 5.svg", alt="User Image")
            div.user-info
                p.user-name Гузаль Шерматова
                p.user-number +998 93 123-45-67
        div.settings
            .tag 
                div.logos 
                    img(src="../../images/profile/Group_add.svg", alt="User logo svg")
                    p Подписка
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/Wallet_alt.svg", alt="User logo svg")
                    p История сеансов
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/info.svg", alt="User logo svg")
                    p Справка
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/bell.svg", alt="User logo svg")
                    p Уведомления
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/credit card.svg", alt="User logo svg")
                    p Расходы
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/globe.svg", alt="User logo svg")
                    p Веб страница
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/setting_line.svg", alt="User logo svg")
                    p Настройки
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/Group.svg", alt="User logo svg")
                    p Клиенты
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../images/profile/sign_out_circle.svg", alt="User logo svg")
                    p Выйти
                div.arrow 
                    img(src="../../images/profile/Arrow.svg", alt="arrow logo")
        footer 
            div.footer
                .footer-item 
                    div 
                        img(src="../../images/profile/Главная.svg", alt="footer buttons") 
                    div 
                        img(src="../../images/profile/Услуги.svg", alt="footer buttons") 
                    div 
                        img(src="../../images/profile/Мастера.svg", alt="footer buttons") 
                    div 
                        img(src="../../images/profile/Чат.svg", alt="footer buttons") 
                    div 
                        img(src="../../images/profile/Профиль.svg", alt="footer buttons") 