doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Главная
    body.bdy   
        div.container
            nav.glavnay-nav 
                h1 Главная 
                div.glavnay-nav__img 
                    img(src="../../images/zapisat-klint 1-variant/Notification.svg", alt="")
                    img(src="../../images/zapisat-klint 1-variant/share-social.svg", alt="")
            div.heading3 
                h3 Расписание на сегодня
                p Время работы: с 8:00 до 22:00 
            div.buttons 
                button.btn.color-1 08:00
                button.btn.color-2 08:00
                button.btn.color-4 08:00
                button.btn.color-3 08:00
                button.btn.color-3 08:00
            div.buttons-flex 
                button Забронировано (3)
                button Свободно (1)
                button VIP клиенты (1)
                button Новые клиенты (2)
            main.main-grid
                div.main-bg 
                    div.grid 
                        p Выполнено сеансовh 
                        img(src="../../images/zapisat-klint 1-variant/Group 3152.svg", alt="")
                        div.grid-flex
                            p 5/8
                            p Сеансы
                div.main-bg 
                    div.grid 
                        p Доход сегодня 
                        div.grid-grid
                            p 600 000
                            p из
                            p 1 200 000
                div.main-paragraf-1 
                    p Отменённые сеансы
                    p 0
                div.main-paragraf-2 
                    p Отменённые сеансы
                    p 0
            div.main-flex-btn 
                    h3 Запросы на бронь
                    button 4 заявки
            div.flex-img 
                img(src="../../images/zapisat-klint 1-variant/Мои мастера.svg", alt="")
                img(src="../../images/zapisat-klint 1-variant/Мои мастера (1).svg", alt="")
            footer.foter-img 
                img(src="../../images/zapisat-klint 1-variant/Главная.svg", alt="")
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Услуги.svg", alt="")
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Чат.svg", alt="")
                img(src="../../images/zapisat-klint 1-variant/Профиль (1).svg", alt="")