doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Распписание забронированных сеансов по дням раскрытый календарь
    body
        .card 
            include ./raspisanni-3.pug

        article.article 
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Done_ring_round (1).svg", alt="")    
            p Клиент записан на процедуру
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/5-stars.svg", alt="")
            button Закрыть