doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Распписание забронированных сеансов по дням раскрытый календарь
    body.container 
        nav 
            h1 Расписание
            div.nav-f 
                button.butto-1 Забронировано
                    img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Channel notification-1.svg", alt="")
                button.butto-2 Запросы
                    img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Channel notification.svg", alt="")
        main 
            p Чт, 21.02.2024
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Group 1000000885.svg", alt="")
            div.vremya-flex
                p Забронированное время
                img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Arrow.svg", alt="")
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Group 1000000943.svg", alt="")
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Group 1000000943.svg", alt="")
            div.vremya-flex
                p Свободное время
                img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Arrow.svg", alt="")
            div.main-btn 
                button.content-btn-1 стрижка
                button.content-btn Милирование
                button.content-btn  Окантовка
        footer.footer-item 
            //- b.bolt Свободное время
            div.footer-flex  
                button.footer-flex__btn 08:00
                button.footer-flex__btn 08:30
                button.footer-flex__btn 09:00
                button.footer-flex__btn 09:30
            div.footer-flex  
                button.footer-flex__btn 10:00
                button.footer-flex__btn 10:30
                button.footer-flex__btn 11:00
                button.footer-flex__btn 11:30
            div.footer-flex  
                button.footer-flex__btn 12:00
                button.footer-flex__btn 12:30
                button.footer-flex__btn 13:00
                button.footer-flex__btn 13:30
            button.footer-item__btn Записать клиента
        div.images-flex 
            img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Главная.svg", alt="")
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Услуги (1).svg", alt="")
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Мастера (1).svg", alt="")
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Чат (1).svg", alt="")
            img(src="../../../../../assets/images/free-qolgan bulimlar/zapisat-klint 1-variant/Профиль (1).svg", alt="")





