doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Карточка клиента
    body.container 
        nav.navbar
            img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow (1).svg", alt="")
        main    
            div.main-btns
                button.btn-first Основное
                button.btn-second История
                button.btn-second Профиль
            div.main-items 
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Rectangle 5.svg", alt="")
                b Гузаль Шерматова
            div.main-items-1 
                img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Trash.svg", alt="")
                b Удалить клиента
            div.main-items-2 
                b Контактная информация
                div.main-items-2__item     
                    div.element 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Phone.svg", alt="")
                        p +998 93 123-45-67
                    div.element  
                        img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/instagram.svg", alt="")
                        p @guzal_1987
                    div.element  
                        img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Group 1000000891.svg", alt="")
                        p @guzalll_1987
        footer.foter 
            div 
                button.footer-btn Написать сообщение
                button.footer-btn Записать