doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Карточка не одобренного
    body.container 
        nav.navbar
            img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow (1).svg", alt="")
        main  
            div.main-content 
                img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/User image.svg", alt="")
                div 
                    b Гузаль Шерматова 
                    p +998 93 123-45-67
            .main-content 
                button.content-btn Милирование
            div 
                img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Group 1000000885 (1).svg", alt="")
            div.main-btn 
                button.content-btn стрижка
                button.content-btn-1 Милирование
                button.content-btn Окантовка
        footer.footer-item 
            b.bolt Свободное время
            div.footer-flex  
                button.footer-flex__btn 08:00
                button.footer-flex__btn 08:30
                button.footer-flex__btn 09:00
                button.footer-flex__btn 09:30
            div.footer-flex  
                button.footer-flex__btn 10:00
                button.footer-flex__btn 10:30
                button.footer-flex__btn 11:00
                button.footer-flex__btn 11:30
            div.footer-flex  
                button.footer-flex__btn 12:00
                button.footer-flex__btn 12:30
                button.footer-flex__btn 13:00
                button.footer-flex__btn 13:30
            button.footer-item__btn Записать

