doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Карточка не одобренного
    body.container 
        nav.navbar
            img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow (1).svg", alt="")
        main  
            div.main-content 
                img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/User image.svg", alt="")
                div 
                    b Гузаль Шерматова 
                    p +998 93 123-45-67
            .main-content 
                button.content-btn Милирование
            div.main-element 
                div.main-element__item 
                    b Четверг, 5 февраля
                    p Длительность - 1 час
                div.main-element__item-1     
                    b 12:30 - 14:00
            div.main-sum 
                b Стоимость:
                b.main-bolt 350 000 сум
            .main-sum
                b Уведомить за:
                button.main-sum__btn 2 часа
            .main-sum
                b Статус:
                button.main-sum__btn-1 Одобрено
            div.main-items-2 
                b Контактная информация
                div.main-items-2__item     
                    div.element 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Phone.svg", alt="")
                        p +998 93 123-45-67
                    div.element  
                        img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/instagram.svg", alt="")
                        p @guzal_1987
                    div.element  
                        img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Group 1000000891.svg", alt="")
                        p @guzalll_1987
            div 
                b Дополнительно
                div.main-content
                    img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/Move_alt.svg", alt="")
                    b Передвинуть
                .main-content       
                    img(src="../../../../../assets/images/free-qolgan bulimlar/zapisa-klint 2-variant/close_ring.svg", alt="")
                    b Отменить