doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Не посещали
    body.container 
        nav.nastroyka 
            img(src="../../images/nastroyka/Arrow (1).svg", alt="")
            p.nastroyka-text Мои клиенты
        main  
            img(src="../../images/zapisa-klint 2-variant/Search-Button.svg", alt="")
            div.main-content 
                img(src="../../images/zapisa-klint 2-variant/Ellipse 127.svg", alt="")
                div 
                    b Гузаль Шерматова 
                    p +998 93 123-45-67
            div.main-content 
                img(src="../../images/zapisa-klint 2-variant/Ellipse 128.svg", alt="")
                div 
                    b Севара Юнусова
                    p + 998 93 171-63-80

        footer.footer-img  
            img(src="../../images/zapisa-klint 2-variant/Frame 28.svg", alt="")