doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/zapisat-client/zapisat-client-all.css")
        title Страница клинеты
    body.container 
        nav.nastroyka 
            img(src="../../images/nastroyka/Arrow (1).svg", alt="")
            p.nastroyka-text Мои клиенты
        div 
            button.btn Все 
                img(src="../../images/zapisa-klint 2-variant/Channel notification-1.svg", alt="")
            div.settings
                .tag 
                    div.logos 
                        img(src="../../images/zapisa-klint 2-variant/User_box.svg", alt="User logo svg")
                        b Все клиенты
                    div.arrow 
                        img(src="../../images/zapisa-klint 2-variant/Channel notification.svg", alt="")
                        img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
                .tag 
                    div.logos 
                        img(src="../../images/zapisa-klint 2-variant/User_box.svg", alt="User logo svg")
                        b Из адресной книги
                    div.arrow 
                        img(src="../../images/zapisa-klint 2-variant/Channel notification.svg", alt="")
                        img(src="../../images/nastroyka/Arrow.svg", alt="arrow logo")
            button.btn 
                img(src="../../images/zapisa-klint 2-variant/Add_ring.svg", alt="")
                span  Создать
            button.btn 
                img(src="../../images/zapisa-klint 2-variant/User_box (1).svg", alt="")
                span Добавить из книги