doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Карточка одобренного
        // Style
        link(rel="stylesheet", href="../../css/kartochka-zapisi-deystva/kartochka-adob.css")
        // Montserrat Font Family
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    body 
        nav 
            img(src="../../images/1/kartochka-adob/Tab-Bar.svg", alt="left arrow")
        header 
            div.flex
                div.user-info 
                    .user-logo
                        img(src="../../images/1/kartochka-adob/User image.svg", alt="")
                    .user-name-num 
                        b Гузаль Шерматова
                        p +998 93 171-63-80
                        button Постоянный клиент
            div.flex
                div.user-info.imp
                    button.btn-in Стрижка
                    button.btn-in укладка
                    button.btn-in милирование
            div.flex
                .time
                    .justify-between
                        div.date 
                            div.date-b 
                                b Четверг, 5 февраля
                            div.hours-1 Длительность - 1 час
                        div.hours 
                            p 12:30 - 14:00
            div.flex
                .time
                    .justify-between
                        div.date 
                            div.date-b 
                                b Стоимость:
                        div.hours 
                            b 350 000 сум
            div.flex-item-3
                div.item-3
                    p Уведомить за:
                    button 2 часа
            div.flex-item-4
                div.item-4
                    p Статус:
                    div  
                        button.btn-1-1 Отклонить
                        button.btn-1-2 Принять
            p.contact-text Контактная информация 
            div.contact-page    
                div.items
                    div
                        img(src="../../images/1/kartochka-adob/contact/Phone.svg", alt="")
                        p  +998 93 123-45-67
                    div
                        img(src="../../images/1/kartochka-adob/contact/instagram@2x.svg", alt="")
                        p  +998 93 123-45-67
                    div
                        img(src="../../images/1/kartochka-adob/contact/Group 1000000891.svg", alt="")
                        p  +998 93 123-45-67